h1 { 
  font-size: 1.75rem; 
  margin-bottom: 2rem;
}
article h2 {
  font-size: 1.4rem; 
  border-bottom: 1px solid #999;
  padding-bottom: 0.3rem;
  margin-bottom: 2rem;
}
article h3 {
  font-size: 1.15rem;
  margin-top: 1.5rem;
  margin-bottom: 1.2rem;
}
h4 { font-size: 1rem; }

main img {
	cursor: zoom-in;
}
